{% extends "layout.html" %}

{% block head %}
{{ resources | safe }}
{{ script | safe }}
{% endblock %}

{% block body %}


<form method="get" action="">

<label for="start">start</label>
<input type="date" id="start" name="start" value="{{ start.date() }}" />
<label for="end">end</label>
<input type="date" id="end" name="end" value="{{ end.date() }}" />


{% for div in divs %}
{{ div | safe }}

{# FIXME: this will break if we have multiple divs #}
<input type="text" name="metric" id="metric" placeholder="metric.path" value="{{ metric }}" required>

<!-- <label for="period">period</label> -->
<select name="period" id="period">
{% for iperiod in PERIODS %}
<option value="{{ iperiod }}" {% if iperiod == period %}selected{% endif %}>{{ iperiod }}</option>
{% endfor %}
</select>

<!-- <label for="stat">stat</label> -->
<select name="stat" id="stat">
{% for istat in STATS %}
<option value="{{ istat }}" {% if istat == stat %}selected{% endif %}>{{ istat }}</option>
{% endfor %}
</select>

<input type="checkbox" name="points" id="points" value="true" {% if points %}checked{% endif %}=>
<label for="points">points</label>

<br>
<input type="submit" value="submit">


{% endfor %}

</form>

{% endblock %}
