{% extends "layout.html" %}

{% block head %}
{{ resources | safe }}
{{ script | safe }}
{% endblock %}

{% block body %}
{# TODO: link back to metrics with the same start/end #}

<form method="get" action="">

<label for="start">start</label>
<input type="text" id="start" name="start" value="{{ start }}" />
<label for="end">end</label>
<input type="text" id="end" name="end" value="{{ end }}" />


{% for div in divs %}
{{ div | safe }}


{# TODO: loop body should be a macro #}
{# TODO: find a better way of filling in the defaults #}

{% for metric in metrics + [dict(name='', stat='avg', period='oneminute')] %}

<input type="text" name="metrics.{{ loop.index0 }}.name" id="metrics.{{ loop.index0 }}.name" placeholder="metric.path" value="{{ metric.name }}">

<!-- <label for="metrics.{{ loop.index0 }}.period">period</label> -->
<select name="metrics.{{ loop.index0 }}.period" id="metrics.{{ loop.index0 }}.period">
{% for iperiod in PERIODS %}
<option value="{{ iperiod }}" {% if iperiod == metric.period %}selected{% endif %}>{{ iperiod }}</option>
{% endfor %}
</select>

<!-- <label for="metrics.{{ loop.index0 }}.stat">stat</label> -->
<select name="metrics.{{ loop.index0 }}.stat" id="metrics.{{ loop.index0 }}.stat">
{% for istat in STATS %}
<option value="{{ istat }}" {% if istat == metric.stat %}selected{% endif %}>{{ istat }}</option>
{% endfor %}
</select>

<br>

{% endfor %}

<input type="checkbox" name="points" id="points" value="true" {% if points %}checked{% endif %}=>
<label for="points">points</label>

<input type="submit" value="submit">


{% endfor %}

</form>

{% endblock %}
